<br>
<footer>
  <!-- basic footer that remains at the bottom of the screen, has some links -->
    <div id="footer-content">
      <nav id="footer-nav">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/service">Services</a>
        <a href="/contact">Contact</a>
        <a href="/term">Terms of Service</a>
      </nav>

      <div id="social-media">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
  </footer>

  
</body>
</html>
